.nav {
  padding: 1vw 1vw;
  margin: -3vw 1vw;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
  position: fixed;
}
.btn {
  padding-right: 4.8rem;
  display: flex;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}
.logo {
  width: 0px !important;
  margin-top: 0;
 
  font-weight: bold;

  background: linear-gradient(to right, #38309c 0%, #7030a0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.e {
  background: linear-gradient(to right, #38309c 0%, #7030a0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo_container{
  transform: scale(.4)
}
@media (max-width: 1000px) {
  .nav{
    position: relative;
    margin-top: -4rem;
    margin-bottom: -15rem;
  }
  .logo_container{
    transform: scale(.3);
  }
  .avatar{
    display: none !important;
  }
}