.button {
  background: linear-gradient(to right, #0037a4 0%, #7030a0 100%);
  font-size: 2rem;
  /* font-weight: bold; */
  padding: 1.6rem 2rem;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  border: 0;
}
