.app {
  background: #000;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0 15rem;
}
.align {
  display: flex;
  padding-top: 12rem;
  align-items: center;
  justify-content: space-between;
}
.title {
  margin: 10rem;
}
.img {
  min-width: 640px;
  min-height: 480px;
  border: solid 5px rgb(163, 163, 163);
  border-radius: 50px;
  overflow: hidden;
}
.img p {
  font-size: 2rem;
  text-align: center;
}
.capture {
  display: flex;
  width: 20rem;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 2rem;
  /* padding: 10rem; */
  width: 30%;
  /* padding: 50%; */
  border-radius: 45px;
}
.btn {
  width: 20rem;
}
.btn:hover {
  transform: translateY(-10%);
}
.response {
  font-size: 2.4rem;
}
.upload::file-selector-button {
  background-image: linear-gradient(to right, #0037a4 0%, #7030a0 100%);
  font-size: 2rem;
  padding: 1.6rem 3rem;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  border: 0;
  transition: all 1s;
}
.upload:hover {
  transform: translateY(-10%);
}

@media (max-width: 1000px) {
  .align {
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #000;
  }
  .capture {
    justify-content: center;
    width: 75%;
    border-radius: 15px;
  }
  .btn {
    width: 30%;
  }
}

.description {
  font-size: 2rem;
}
.form {
  font-size: medium;
}

.divider {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dividerLine {
  border-top: 1px solid #edeff1;
  width: 40%;
}
.dividerText {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}


.Token_container {
  background: #000;
  display: flex;
  flex-direction: column;
  gap : 2rem;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0 15rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 3vh;
  border : 2px solid red;

}

.Input_container {
  display : flex;
  gap : 2rem;
  justify-content: center;
  align-items: center;
}

.input {
  width : 350px;
  height: 40px;
  box-shadow: 5px 10px;
  padding : 10px 14px;
}

.button {
  background: blue;
  /* width : 100px; */
  /* height : 25px; */
  border-radius : 10%;
  color : whitesmoke;
  font-weight: 400;
  font-size: 20px;
  padding : 10px 14px;
  cursor : pointer;
}

.button:hover {
  background: rgb(1, 1, 150);
}
