.main {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(25,18,18,1) 50%, rgba(119,19,19,1) 100%);
    height: 100vh;
    display : flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    color : whitesmoke;
}

.circle {
    border : 5px solid limegreen;
    width : 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;  
}

.tick::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 20px;
    border: 3px solid limegreen;
    border-top: none;
    border-right: none;
    transform: translate(-50%, -50%) rotate(-55deg);
  }

.text {
    font-weight: 100px;
    font-size: 35px;
}

.btn {
    background: blue;
    /* width : 100px; */
    /* height : 25px; */
    border-radius : 10%;
    color : whitesmoke;
    font-weight: 400;
    font-size: 20px;
    padding : 10px 14px;
    cursor : pointer;
  }
  
  .btn:hover {
    background: rgb(1, 1, 150);
  }

