.hero {
  display: flex;
  gap: 10rem;
  /* align-items: center; */
  justify-content: center;
  /* height: 100vh; */
  margin: 0 auto;
  width: 90%;
}
.content {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.title {
  font-size: 3.6rem;
}
.description {
  font-size: 2.4rem;
}
.title_instruction {
  font-size: 3rem;
}
.instruction {
  font-size: 2rem;
}
.img {
  width: auto;
  object-fit: cover;
}

@media (max-width: 1000px)  {
  .hero{
    margin-top: 5vh;
    flex-direction: column;
  }
  .img {
    display: none;
  }
}